<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./templates/css/index.css">
    <script src="./templates/js/index.js"></script>
    <title>groupie-tracker</title>
</head>
<body>
    <nav id="nav">
        <div id="navlogo"><h3>Groupie<br>tracker</h3></div>
           <div id="navright"><ul id="navitems">
                <li><a href="/">Home</a></li>
                <li><a href="/#all-groupes">Groupes</a></li>
                <li><a href="#">Events</a></li>
            </ul>
        <div id="navsearchbar">
            <button class="btn-search"><img src="./templates/img/whitesearch.png" alt="O" id="loop"></button>
    <input type="text" class="input-search" placeholder="Type to Search...">
        </div></div>
    </nav>
    <header id="header">
        <div id="headertitle"><h1>Groupie<br>tracker</h1></div>
        <div id="headerdiscription"><p>Found all the infos about your favorite groupe</p></div>
        <div id="header.down"><a href="#all-groupes"><img src="./templates/img/arrow-205-512.png" alt="Down" width="100px"></a></div>
    </header>
    <div id="all-groupes"></div>
    <div id="groupes">
    {{range .}}
    <div class="group">
    <h3 class="name">{{.Name}}</h3>
    <div id="infoimg">
    <img class="img" src="{{.Image}}" alt="image not found">
    <div class="infos">
    <p class="info1">Creation date : {{.Creationdate}}<br>
        Firstalbum : {{.Firstalbum}}<br>
    Members :<br>{{range .Members}}{{.}}<br>{{end}}<br><a class="learnmore" href="http://localhost:8080/{{.Nameformated}}">Learn more</a></p>
    </div></div></div>
    {{end}}

</div>
    </body>
    <footer id="footer">
        <p>Zone-01</p>
    </footer>
</html>